# 🌍 General config
ENVIRONMENT=development
LOG_LEVEL=debug

# 🚀 API Gateway
GATEWAY_PORT=8090

# 🔐 Authentication Service
AUTH_SERVICE_PORT=8091
TOKEN_EXPIRATION=3600 # 1 hour
MONGO_URI=
MONGO_DB=db_auth
GRAPES_AES_KEY=
GRAPES_SENDGRIP_API_SECRET=
GRAPES_TWILIO_API_SECRET=
GRAPES_TWILIO_SID=
TWILIO_FROM_NUMBER=
COMPANY_MAIL=
GRAPES_JWT_SECRET_KEY=
MAX_REQUESTS_PER_MINUTE=
CHALLENGE_REQUEST_INTERVAL_IN_SECONDS=
CHALLENGE_VALIDITY_PERIOD_IN_SECONDS=
REQUIRED_AGE=
REDIS_PASSWORD=

# 📦 Sales Service
SALES_SERVICE_PORT=8092
SALES_DB_URL=
SALES_DB_USER=
SALES_DB_PASSWORD=!

# 💳 Payment Service
PAYMENT_SERVICE_PORT=8093
PAYMENT_DB_URL=
PAYMENT_DB_USER=
PAYMENT_DB_PASSWORD=

# 💳 Chat Service
CHAT_SERVICE_PORT=8094
CHAT_MONGO_URI=
CHAT_MONGO_DB=db_chat

# Data Mining Service
DATA_MINING_MONGO_URI=
POOL_RECYCLE=3600

# 📊 Database

# MariaDB
DB_PORT=3306
DB_USER=
DB_PASSWORD=

# MongoDB
MONGO_PORT=27017
MONGO_USER=
MONGO_PASSWORD=

# 🐰 Message Broker (RabbitMQ)
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=
RABBITMQ_PASSWORD=

# 📈 Monitoring (Prometheus & Grafana)
PROMETHEUS_PORT=
GRAFANA_PORT=

# 🛠️ SonarQube (Code quality)
SONARQUBE_HOST=http://localhost:9000
SONARQUBE_TOKEN=
SONARQUBE_JDBC_USERNAME=
SONARQUBE_JDBC_PASSWORD=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=


# Frontend WEB
REACT_APP_API_URL_SALES=http://sales-service:8092


#REPLICATION
MARIADB_REPLICATION_USER=
MARIADB_REPLICATION_PASSWORD=
MARIADB_MASTER_HOST=


# ☁️ Oracle Cloud (OCIR)
ORACLE_REGION_ID=null
ORACLE_TENANCY_NAMESPACE=null
