# 🌍 General config
LOG_LEVEL=debug

# 🚀 API Gateway
GATEWAY_PORT=8090
AUTH_SERVICE_URI=
SALES_SERVICE_URI=
PAYMENT_SERVICE_URI=
CHAT_SERVICE_URI=
DATA_MINING_SERVICE_URI=
REDIS_PASSWORD=
REDIS_TTL=3600

# 🔐 Authentication Service
AUTH_SERVICE_PORT=8091
ACCESS_TOKEN_EXPIRATION=  # minutes
REFRESH_TOKEN_EXPIRATION= # days
AUTH_MONGO_URI=
AUTH_MONGO_DB=db_auth
GRAPES_AES_KEY=
GRAPES_SENDGRIP_API_SECRET=
GRAPES_TWILIO_API_SECRET=
GRAPES_TWILIO_SID=
TWILIO_FROM_NUMBER=
COMPANY_MAIL=
GRAPES_JWT_SECRET_KEY=
MAX_REQUESTS_PER_MINUTE=
CHALLENGE_REQUEST_INTERVAL_IN_SECONDS=
CHALLENGE_VALIDITY_PERIOD_IN_SECONDS=
REQUIRED_AGE=

# 📦 Sales Service
SALES_SERVICE_PORT=8092
SALES_SERVICE_HOST=sales-service
SALES_DB_URL=
SALES_DB_USER=
SALES_DB_PASSWORD=

# 💳 Payment Service
PAYMENT_SERVICE_PORT=8093
PAYMENT_DB_URL=jdbc:mariadb://localhost:3306/payment_db
PAYMENT_DB_USER=
PAYMENT_DB_PASSWORD=
PAYMENT_SERVICE_HOST=payment-service
PAYMENT_DB_HOST=
PAYMENT_DB_PORT=3306
PAYMENT_DB_NAME=payment_db
FRONT_END_URL=
PAYMENT_DB_DRIVER=org.mariadb.jdbc.Driver
# Twilio Configuration (for Payment SMS)
PAYMENT_TWILIO_ACCOUNT_SID=
PAYMENT_TWILIO_AUTH_TOKEN=
PAYMENT_TWILIO_PHONE_NUMBER=

# Bank Account Details
PAYMENT_BANK_ACCOUNT_NUMBER=
PAYMENT_BANK_ACCOUNT_PASSWORD=
PAYMENT_BANK_CLIENT_PASSWORD=
PAYMENT_BANK_CLIENT_PHONE=

# Security Configuration
PAYMENT_PASSWORD_SALT=

# Internal Server Ports
PAYMENT_PORT_ACS=8081
PAYMENT_PORT_ACS_MONEY=8083
PAYMENT_PORT_ACQ=8082

PAYMENT_FRONT_END_URL=localhost:3000

# 🔑 Keystore Configurations
# ACS Server Keystore
PAYMENT_KEYSTORE_ACS_PATH=payment-service/payment-backend/src/main/resources/keystore/acs_keystore.jks
PAYMENT_KEYSTORE_ACS_PASSWORD=
PAYMENT_KEYSTORE_ACS_KEY_ALIAS=acs
PAYMENT_KEYSTORE_ACS_KEY_PASSWORD=

# ACQ Server Keystore
PAYMENT_KEYSTORE_ACQ_PATH=payment-service/payment-backend/src/main/resources/keystore/acq_keystore.jks
PAYMENT_KEYSTORE_ACQ_PASSWORD=
PAYMENT_KEYSTORE_ACQ_KEY_ALIAS=acq
PAYMENT_KEYSTORE_ACQ_KEY_PASSWORD=

# Client/Backend Keystore
PAYMENT_KEYSTORE_CLIENT_PATH=payment-service/payment-backend/src/main/resources/keystore/client_keystore.jks
PAYMENT_KEYSTORE_CLIENT_PASSWORD=
PAYMENT_KEYSTORE_CLIENT_ALIAS=client
PAYMENT_KEYSTORE_CLIENT_KEY_PASSWORD=

# 🔒 Truststore Configurations
PAYMENT_TRUSTSTORE_ACS_PATH=payment-service/payment-backend/src/main/resources/keystore/acs_truststore.jks
PAYMENT_TRUSTSTORE_ACS_PASSWORD=
PAYMENT_TRUSTSTORE_ACS_CLIENT_ALIAS=client_trusted
PAYMENT_TRUSTSTORE_ACS_ACQ_ALIAS=acq_trusted

PAYMENT_TRUSTSTORE_ACQ_PATH=payment-service/payment-backend/src/main/resources/keystore/acq_truststore.jks
PAYMENT_TRUSTSTORE_ACQ_PASSWORD=
PAYMENT_TRUSTSTORE_ACQ_ACS_ALIAS=acs_trusted

PAYMENT_TRUSTSTORE_CLIENT_PATH=payment-service/payment-backend/src/main/resources/keystore/client_truststore.jks
PAYMENT_TRUSTSTORE_CLIENT_PASSWORD=
PAYMENT_TRUSTSTORE_CLIENT_ACS_ALIAS=acs_trusted
PAYMENT_TRUSTSTORE_CLIENT_ACQ_ALIAS=acq_trusted

# 💬 Chat Service
CHAT_SERVICE_PORT=8094
CHAT_SERVICE_HOST=chat-service
CHAT_MONGO_URI=
CHAT_MONGO_DB=db_chat

PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=

# Data Mining Service
DATA_MINING_MONGO_URI=
POOL_RECYCLE=3600

# 📊 Database
# MariaDB
DB_HOST=mariadb
DB_PORT=3306
DB_USER=
DB_PASSWORD=

# MongoDB
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_USER=
MONGO_PASSWORD=

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# 🐰 Message Broker (RabbitMQ)
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_RETRY_ENABLED=true
RABBITMQ_RETRY_MAX_ATTEMPTS=10
RABBITMQ_RETRY_INITIAL_INTERVAL=3000
RABBITMQ_RETRY_MULTIPLIER=2.0
RABBITMQ_RETRY_MAX_INTERVAL=10000
AUTH_SERVICE_RABBIT_MQ_QUEUE_NAME=
AUTH_SERVICE_RABBIT_MQ_QUEUE_REGISTRATION_NAME=

# 📈 Monitoring (Prometheus & Grafana)
PROMETHEUS_PORT=9090
PROMETHEUS_HOST=prometheus
GRAFANA_PORT=3000
GRAFANA_HOST=grafana

# 🐳 Docker Configuration
DOCKER_REGISTRY=
DOCKER_COMPOSE_PROJECT_NAME=grapes

# 🛠️ SonarQube (Code quality)
SONARQUBE_HOST=http://localhost:9000
SONARQUBE_TOKEN=
SONARQUBE_JDBC_USERNAME=
SONARQUBE_JDBC_PASSWORD=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

#REPLICATION
MARIADB_REPLICATION_USER=
MARIADB_REPLICATION_PASSWORD=
MARIADB_MASTER_HOST=

# ☁️ Oracle Cloud (OCIR)
ORACLE_REGION_ID=
ORACLE_TENANCY_NAMESPACE=

