# 🌍 General config
ENVIRONMENT=development
LOG_LEVEL=debug

# 🚀 API Gateway
GATEWAY_PORT=

# 🔐 Authentication Service
AUTH_SERVICE_PORT=
JWT_SECRET=super_secure_jwt_secret
TOKEN_EXPIRATION=3600  # 1 hours

# 📦 Sales Service
TRANSACTIONS_SERVICE_PORT=
TRANSACTIONS_DB_URL=jdbc:mysql://mysql:3306/transactions_db
TRANSACTIONS_DB_USER=
TRANSACTIONS_DB_PASSWORD=

# 💳 Payment Service
PAYMENT_SERVICE_PORT=
PAYMENT_API_KEY=test_api_key
PAYMENT_GATEWAY_URL=https://sandbox.payment.com

# 📊 Database
MONGO_URL=mongodb://mongo:11111/auth-
MYSQL_HOST=mysql
MYSQL_PORT=
MYSQL_USER=
MYSQL_PASSWORD=

# 🐰 Message Broker (RabbitMQ)
RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=

# 📈 Monitoring (Prometheus & Grafana)
PROMETHEUS_PORT=
GRAFANA_PORT=

# 🛠️ SonarQube (Code quality)
SONARQUBE_HOST=http://localhost:1111
SONARQUBE_TOKEN=my_sonar_token
