.header {
  -fx-border-color: transparent transparent rgba(0, 0, 0, 0.2) transparent;
  -fx-border-width: 0 0 1px 0; }

.footer {
  -fx-border-color: rgba(0, 0, 0, 0.2) transparent transparent transparent;
  -fx-border-width: 1px 0 0 0; }

.button-icon {
  -fx-opacity: 0.2; }

.button-icon:hover {
  -fx-opacity: 0.4; }

.button-icon:pressed {
  -fx-opacity: 0.1; }

.scroll-bar:vertical {
  -fx-padding: 0;
  -fx-background-color: transparent;
  /* Background for scrollbar track */ }

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
  -fx-background-color: transparent;
  /* Hide increment/decrement buttons */ }

.scroll-bar:vertical .thumb {
  -fx-background-insets: 2;
  -fx-background-radius: 5;
  /* Rounded corners */ }

.card {
  -fx-padding: 15px;
  -fx-border-width: 1px 0 0 0;
  -fx-background-color: #ff00ff;
  -fx-border-radius: 8px;
  -fx-background-radius: 8px;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 5); }

.card:hover {
  -fx-background-color: #ff4dff; }

.card:pressed {
  -fx-background-color: #cc00cc; }

.card-margin {
  -fx-padding: 10px 10px 0px 10px; }

.card-title {
  -fx-text-fill: #ffffff;
  -fx-font-weight: bold; }

.card-description {
  -fx-text-fill: white; }
